.gradle
.idea
.svn

/app/src/androidTest
/app/src/test
/app/build.gradle.bak
/app/proguard-rules.pro
/app/build

/build


/library/src/test
/library/build
/library/.classpath
/library/pom.xml

*.iml
gradlew
gradlew.bat


/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
.externalNativeBuild
